.book {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 240px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px;
    cursor: pointer;
}

.books--grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book--table {
    display: grid;
    grid-template-columns: 35% 25% 25% 15%;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.book__header--table {
    position: sticky;
    top: 0;
    background-color: white;
}